.popover {
  background: #fff;
  color: #000;
  border-radius: 3px;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
  position: absolute;
  bottom: 0;
  width: 400px;
  left: 50%;
  margin-left: -200px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); }
  @media only screen and (min-width: 720px) and (max-width: 969px) {
    .popover {
      /* iPad */
      width: 300px;
      margin-left: -150px; } }
  @media only screen and (min-width: 600px) and (max-width: 719px) {
    .popover {
      /* Kindle Fire */
      width: 300px;
      margin-left: -150px; } }
  @media only screen and (max-width: 599px) {
    .popover {
      /* Smaller than Kindle Fire */
      width: 150px;
      margin-left: -75px; } }
